@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap')
@import "../../variables"

.Logo
    display: flex
    justify-content: center
    align-items: center
    font-size: 18px
    font-family: 'Berkshire Swash', cursives

@media (max-width: 576px)
    .Logo
        margin-bottom: $blockDistance
